config mcud 'main'
	# Security Settings
	option auth_enabled '0'
	option allow_custom_commands '0'
	option session_ttl '604800'

	option enabled '1'
	option default_volume '25'
	# Auto-sleep timeout in minutes when running on battery:
	# 0  = Always-On (DEFAULT: Never sleep, 24/7 ready for HA, Spotify, AirPlay, AUX, BT)
	# 15 = Sleep after 15 minutes of inactivity in Wi-Fi mode
	# 30 = Sleep after 30 minutes of inactivity
	option auto_sleep_min '0'
	option sleep_in_aux '0'
	option sleep_in_bt '0'
	# Log level: 0=ERROR, 1=WARN, 2=INFO (DEFAULT), 3=DEBUG
	option log_level '2'
	option mqtt_enabled '1'
	option mqtt_host '127.0.0.1'
	option mqtt_port '1883'
	option mqtt_user ''
	option mqtt_password ''
	option mqtt_topic_prefix 'audiopro_c3'
	
	# --- Audio Arbiter Settings ---
	# arbiter_policy: 
	#   mix      = No restrictions, ALSA dmix merges all streams simultaneously
	#   lifo     = Last In Wins (new stream completely stops previous ones)
	#   priority = Strict priority hierarchy, higher priority interrupts lower
	option arbiter_policy 'priority'
	
	# Priorities (Lower number = higher priority)
	option prio_snapcast '1'
	option prio_airplay '2'
	option prio_spotify '3'
	option prio_dlna '4'
	option prio_webradio '5'
	option prio_squeeze '6'

config alarm 'alarm'
	option enabled '0'
	option time '07:00'
	option days '1,2,3,4,5'
	option target_volume '60'
	option alarm_mode 'gentle'
	option sound_type 'chime'
	option sound_file '/usr/share/sounds/alarm_wake_up.wav'
	option stream_url 'http://icecast.vrtcdn.be/klara-high.mp3'
	option spotify_uri 'spotify:track:4cOdK2wGLETKBW3PvgPWqT'
	option fade_sec '0'
	option duration_min '30'
	option snooze_min '9'


